<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- Begin Page Content -->
<div layout:fragment="content">
    <section id="main">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-12-medium">
                            <div class="sidebar">
                                <div id="items">

                                </div>
                                <div style="width: 100%;">
                                    <button style="float:right;" onclick="moveCommunityRegist()">등록</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

        const baseUrl = '/community';

        window.onload = function () {
            getCommunityList().then(addCommunityCard);
        }

        const getCommunityList = async () => {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: baseUrl,
                    type: 'GET'
                }).done(result => {
                    resolve(result);
                }).fail(commonError);
            });
        }


        const getRowHtml = (data) => {
            let html = "";
            html += '<ul>                                                                                       ';
            html += '    <li class="li-noline">                                                                 ';
            html += '        <article class="box post-summary" style="margin-bottom:3%">                        ';
            html += '            <div class="item-div">                                                         ';
            html += '                <div class="community-img-div">                                            ';
            html += '                    <div style="position: relative;">                                      ';
            html += '                        <img src="/images/' + getOrDefaultImgName(data.imgName) + '"       ';
            html += '                             class="w-px-40 h-px-40 rounded-circle"></div>                 ';
            html += '                        <span>' + data.writer + '</span>                                   ';
            html += '                </div>                                                                     ';
            html += '                                                                                           ';
            html += '                <div class="item-div-title">                                               ';
            html += '                    <h2 class="bx badge bg-info">                                          ';
            html += '                        <ul class="meta">                                                  ';
            html += '                            <li class="icon fa-folder">자유게시판</li>                       ';
            html += '                        </ul>                                                              ';
            html += '                        <h3 class="community-dt"><a href="/community/' + data.id + '"      ';
            html += '                                          class="title">' + data.title + '</a></h3>        ';
            html += '                        <ul class="meta">                                                  ';
            html += '                            <li class="icon fa-clock">' + compareDate(data.regDate) + '</li>';
            html += '                        </ul>                                                              ';
            html += '                    </h2>                                                                  ';
            html += '                </div>                                                                     ';
            html += '            </div>                                                                         ';
            html += '        </article>                                                                         ';
            html += '    </li>                                                                                  ';
            html += '</ul>                                                                                      ';

            return html;
        }

        const addCommunityCard = (list) => {
            list.forEach((row, index) => {
                let html = getRowHtml(row);

                document.getElementById('items').innerHTML += html;
            });
        }

        const today = () => {
            let date = new Date();
            let year = date.getFullYear().toString();

            let month = date.getMonth() + 1;
            month = month < 10 ? '0' + month.toString() : month.toString();

            let day = date.getDate();
            day = day < 10 ? '0' + day.toString() : day.toString();

            let hour = date.getHours();
            hour = hour < 10 ? '0' + hour.toString() : hour.toString();

            let minute = date.getMinutes();
            minute = minute < 10 ? '0' + minute.toString() : minute.toString();

            let seconds = date.getSeconds();
            seconds = seconds < 10 ? '0' + seconds.toString() : seconds.toString();

            return year + month + day + hour + minute + seconds;
        }

        const compareDate = (regDate) => {
            const today = new Date();
            const timeValue = new Date(regDate);

            const betweenTime = Math.floor((today.getTime() - timeValue.getTime()) / 1000 / 60);
            if (betweenTime < 1) return '방금전';
            if (betweenTime < 60) {
                return `${betweenTime}분전`;
            }

            const betweenTimeHour = Math.floor(betweenTime / 60);
            if (betweenTimeHour < 24) {
                return `${betweenTimeHour}시간전`;
            }

            const betweenTimeDay = Math.floor(betweenTime / 60 / 24);
            if (betweenTimeDay < 365) {
                return `${betweenTimeDay}일전`;
            }

            return `${Math.floor(betweenTimeDay / 365)}년전`;
        }

        const moveCommunityRegist = () => {
            if (!validateToken()) {
                alert('로그인이 필요합니다.');
                location.href = "/auth/login/page";
            } else {
                location.href = "/community/regist/page";
            }
        }
    </script>
</div>

</html>
