<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<!-- Begin Page Content -->
<div layout:fragment="content">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card mb-4 ">
            <div class="card-body ">
                <small class="text-light fw-semibold">Filter</small>
                <div class="mt-3 margin-btm1 container">
                    <div class="demo-vertical-spacing">
                        <label for="primary" class="btn-sm btn-outline-info">뽐뿌<input type="checkbox" id="primary" name="PPOMPPU"
                                                                           class="badgebox" checked><span class="badge">&check;</span></label>
                        <label for="info" class="btn-sm btn-outline-info">루리웹 <input type="checkbox" id="info" name="RULIWEB"
                                                                          class="badgebox" checked><span
                                class="badge">&check;</span></label>
                        <label for="success" class="btn-sm btn-outline-info">쿨앤조이<input type="checkbox" id="success"
                                                                             name="COOLENJOY"
                                                                             class="badgebox" checked><span
                                class="badge">&check;</span></label>

                    </div>
                </div>
            </div>
        </div>
        <div id="items">

        </div>
    </div>

    <div
            class="modal fade"
            id="modalToggle"
            aria-labelledby="modalToggleLabel"
            tabindex="-1"
            style="display: none"
            aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalToggleLabel">공유하기</h5>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer">
                    <button
                            class="btn btn-warning shared-save"
                            data-bs-dismiss="modal"
                    >
                        주소 복사
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            init();
            initEvent();
        }


        const baseUrl = '/daeran';
        const maxCount = 10;
        const nowCount = 0;
        let page = 0;
        let timer;

        const init = async () => {
            await getSiteBoardList()
                .then(addSiteCardList);
        }

        const initEvent = () => {
            document.addEventListener('scroll', async (e) => {
                let documentHeight = document.body.scrollHeight;
                let currentScroll = window.scrollY + window.innerHeight;
                let modifier = 200;
                if (currentScroll + modifier > documentHeight && !timer) {
                    timer = setTimeout(async () => {
                        timer = null;
                        page++;
                        await getSiteBoardList()
                            .then(addSiteCardList);
                    }, 500);
                }
            });

            document.querySelector(".shared-save").addEventListener("click", function () {
                let tempElem = document.createElement('textarea');
                let url = $('#modal-body').text();
                tempElem.value = url;
                document.body.appendChild(tempElem);

                tempElem.select();
                document.execCommand("copy");
                document.body.removeChild(tempElem);
            });

            let checkBoxes = document.querySelectorAll("input[type=checkbox]");
            checkBoxes.forEach(checkBox => {
                checkBox.addEventListener("click", async function () {
                    $('#items').html('');
                    page = 0;
                    await getSiteBoardList()
                        .then(addSiteCardList);
                });
            });
        }

        const getSiteBoardList = async () => {
            return new Promise((resolve, reject) => {
                let checked = $('input:checked');
                let filterParam = "&siteName=";
                for (let i = 0; i < checked.length; i++) {
                    filterParam += i == 0 ? checked.get(i).name : ',' + checked.get(i).name;
                }

                let queryString = "page=" + page + "&size=" + maxCount + filterParam;
                let promise = $.ajax({
                    url: baseUrl + "/section/SITE?" + queryString,
                    type: 'GET'
                }).done(result => {
                    resolve(result);
                }).fail(commonError);
            });
        }

        const getLikeList = async () => {
            return new Promise((resolve, reject) => {
                let promise = $.ajax({
                    url: '/like/username',
                    type: 'GET'
                }).done(result => {
                    resolve(result);
                }).fail(commonError);
            });
        }

        const getReplyList = (boardId) => {
            $.ajax({
                url: '/reply?boardId=' + boardId,
                type: 'GET'
            }).done(result => {
                let html = '';
                result.forEach(row => {
                    html += '  <div class="btm-line margin-btm1 py-2">                                                                        ';
                    html += '                       <img src="/images/' + getOrDefaultImgName(row.imgName) + '" alt class="w-px-40 h-px-40 rounded-circle margin-btm"/>';
                    html += '                       <span> ' + row.username + '</span>                                                 ';
                    html += '                       <p> ' + row.content + '</p>                                                       ';
                    html += '  </div> ';
                })
                document.getElementById('replywrapper' + boardId).innerHTML = html;

            }).fail(commonError);
        }

        const addSiteCardList = async (list) => {
            let likeList = await getLikeList();
            let idList = [];

            likeList.forEach((row, index) => {
                idList.push(row.daeran.id);
            });

            list.forEach((row, index) => {
                row.liked = false;
                if (idList.includes(row.id)) row.liked = true;
                let html = getRowHtml(row);

                document.getElementById('items').innerHTML += html;
                getReplyList(row.id);
            });
        }

        const addLike = (el, id) => {
            if (!validateToken()) {
                alert('로그인이 필요합니다.');
                return;
            }

            let data = {
                'daeranId': id
            };

            $.ajax({
                url: "/like",
                type: 'POST',
                data: data
            }).done(result => {
                if (result) {
                    $(el).addClass("liked");
                    let text = $(el).text();
                    let likeCount = parseInt(text.replace('좋아요', ''));
                    likeCount++;
                    $(el).html('<i class="fa fa-heart" aria-hidden="true"></i>' + '좋아요' + likeCount);
                }
            }).fail(commonError)

        }

        const addReply = (id) => {
            if (!validateToken()) {
                alert('로그인이 필요합니다.');
                return;
            }

            let contentId = 'reply' + id;

            let data = {
                'daeranId': id,
                'content': $('#' + contentId).val()
            };

            $.ajax({
                url: "/reply",
                type: 'POST',
                data: data
            }).done(result => {
                if (result) {
                    alert('댓글을 작성하였습니다.');
                    getReplyList(id);
                }
            }).fail(commonError)
        }

        const loadShare = (id) => {
            let protocol = location.protocol + '//';
            let host = location.hostname;
            let port = location.port;

            let url = protocol + host + ((port == null || port == '') ? '' : ':' + port);
            $('#modal-body').text(url + '/daeran/' + id + '/page');
        }

        const getRowHtml = (data) => {
            let html = "";
            html += '<div class="card mb-4" >                                                                                    ';
            html += '            <h5 class="card-header"></h5>                                                     ';
            html += '            <!-- Account -->                                                                                ';
            html += '            <div class="card-body">                                                                         ';
            html += '                <div class="d-flex align-items-start gap-4">                                                ';
            html += '                    <img    src="' + data.logoPath + '"                                                     ';
            html += '                            alt="user-avatar"                                                               ';
            html += '                            class="d-block rounded"                                                         ';
            html += '                            height="100"                                                                    ';
            html += '                            width="100"                                                                     ';
            html += '                            />                                                                              ';
            html += '                    <div class="mb-3 col-md-6">                                                             ';
            html += '                            <span class="bx badge bg-info"> ' + data.siteName + '</span>                    ';
            html += '                            <span class="bx badge bg-warning"> ' + data.categoryNm + '</span>                    ';
            html += '                        <a      class="form-control btn btn-outline-default fw-semibold"                    ';
            html += '                                href="' + data.link + '"                                                    ';
            html += '                                >                                                                           ';
            html += '                                ' + data.title + '                                                          ';
            html += '                            <span style="float: right"class="tf-icons bx bx-pie-chart-alt badge bg-primary"> ' + compareDate(data.regDate) + '</span>              ';
            html += '                        </a>    ';

            if (notEmpty(data.price)) {
                html += '                       <button type="button" class="btn btn-outline-danger margin-top1">                    ';
                html += '                           ' + data.price + '원                                                                  ';
                html += '                       </button>                                                                            ';
            }

            if (data.title.includes('무배') || data.title.includes('무료')) {
                html += '                       <button type="button" class="btn btn-outline-info margin-top1">무료배송                ';
                html += '                            <img    src="/assets/img/icons/unicons/ship.png"                                 ';
                html += '                            alt="user-avatar"                                                               ';
                html += '                            height="25"                                                                     ';
                html += '                            width="25"                                                                      ';
                html += '                            />                                                                              ';
                html += '                       </button>                                                                            ';
            }

            html += '                    </div>                                                                                  ';
            html += '                </div>                                                                                      ';
            html += '            </div>                                                                                          ';
            html += '            <hr class="my-0"/>                                                                              ';
            html += '            <div class="card-body">                                                                         ';
            html += '                <form  method="POST" onsubmit="return false">                                               ';
            html += '                    <div class="mt-2">                                                                      ';
            html += '                        <div class="margin-btm1">                                                           ';
            html += '                            <span onclick="addLike(this, ' + data.id + ')">                                 ';

            if (data.liked) {
                html += '                            <i class="fa fa-heart" aria-hidden="true"></i>좋아요' + data.likeCount;
            } else {
                html += '                            <i class="fa fa-heart-o" aria-hidden="true" ></i> 좋아요' + data.likeCount;
            }

            html += '                            </span>                                                                         ';
            html += '                            <i class="share-btn" data-bs-toggle="modal" data-bs-target="#modalToggle" onclick="loadShare(' + data.id + ')">      ';
            html += '                                🔗공유하기                                                                    ';
            html += '                            </i>                                                                            ';
            html += '                         </div>                                                                             ';
            html += '                            <div id="replywrapper' + data.id + '">                                          ';
            html += '                            </div>                                                                          ';
            html += '                        <input                                                                              ';
            html += '                                class="form-control margin-btm1"                                            ';
            html += '                                type="text"                                                                 ';
            html += '                                id="reply' + data.id + '"                                                   ';
            html += '                                placeholder="댓글 달기"/>                                                     ';
            html += '                        <button type="button" class="btn btn-primary me-2" onclick="addReply(' + data.id + ')">작성</button>';
            html += '                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>              ';
            html += '                    </div>                                                                                  ';
            html += '                </form>                                                                                     ';
            html += '            </div>                                                                                          ';
            html += '        </div>                                                                                              ';

            return html;
        }

        const today = () => {
            let date = new Date();
            let year = date.getFullYear().toString();

            let month = date.getMonth() + 1;
            month = month < 10 ? '0' + month.toString() : month.toString();

            let day = date.getDate();
            day = day < 10 ? '0' + day.toString() : day.toString();

            let hour = date.getHours();
            hour = hour < 10 ? '0' + hour.toString() : hour.toString();

            let minute = date.getMinutes();
            minute = minute < 10 ? '0' + minute.toString() : minute.toString();

            let seconds = date.getSeconds();
            seconds = seconds < 10 ? '0' + seconds.toString() : seconds.toString();

            return year + month + day + hour + minute + seconds;
        }

        const compareDate = (regDate) => {
            const today = new Date();
            const timeValue = new Date(regDate);

            const betweenTime = Math.floor((today.getTime() - timeValue.getTime()) / 1000 / 60);
            if (betweenTime < 1) return '방금전';
            if (betweenTime < 60) {
                return `${betweenTime}분전`;
            }

            const betweenTimeHour = Math.floor(betweenTime / 60);
            if (betweenTimeHour < 24) {
                return `${betweenTimeHour}시간전`;
            }

            const betweenTimeDay = Math.floor(betweenTime / 60 / 24);
            if (betweenTimeDay < 365) {
                return `${betweenTimeDay}일전`;
            }

            return `${Math.floor(betweenTimeDay / 365)}년전`;
        }


    </script>
</div>

</html>
