<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<th:block th:fragment="headFragment">
    <head>
        <title>대란봇</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta name="description" content="실시간으로 대란으로 올라오는 최저가 제품들을 소개해주는 사이트입니다.">

        <meta property="og:type" content="website">
        <meta property="og:title" content="대란봇">
        <meta property="og:description" content="실시간으로 대란으로 올라오는 최저가 제품들을 소개해주는 사이트입니다.">
        <meta property="og:url" content="https://daeranbot.com/">
        <meta property="og:image" content="https://daeranbot.com/assets/img/icons/brands/daeranbot_logo.png">

        <link rel="shortcut icon" type="image/x-icon" href="https://daeranbot.com/assets/img/icons/brands/daeranbot_logo.png">

        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>

        <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css"/>
        <link rel="stylesheet" href="/assets/css/custom.css"/>
        <link rel="stylesheet" href="/assets/css/main.css"/>

        <link rel="stylesheet" href="https://use.fontawesome.com/0206006232.css" media="all">

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="/assets/js/config.js"></script>
        <meta name="naver-site-verification" content="a1bcae28d7b7d38837854c2d153262fc5eea0b23"/>
        <meta name="google-site-verification" content="SJIs4XYOFFuKG4YAaby1X86lzeBNjGkDmmHfwibDS3Q"/>
    </head>
</th:block>
</html>